// Is this working?
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Merriweather&display=swap');
@import url('https://fonts.googleapis.com/css?family=Gayathri&display=swap');

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;

}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
html{
	font-size: 62.5%;
}
body {
	line-height: 1;
	font-size: 1.6rem;
}
ol, ul {
	list-style: none;
	font-size: 1.6rem;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
	box-sizing: border-box;
}

html, body {
    height: 100%;
}






h1{
	font-family: 'Gayathri', sans-serif;
}

.header{
	display: flex;
	flex-direction: column;
	align-items: center;
	

	h1{
		font-size: 2.5rem;
	}//this closes the h1

	.navbar{
		
		a{
			text-decoration: none;
		}
	}//this closes navbar
}//this closes the header

.main-content{
	padding: 5rem;
	width: 100%;
	
	.top-content{
		display: flex;
		border: 28px solid rgb(148, 216, 209);
		border-radius: 22px 22px 22px 22px;
		padding: 5rem;
		background: linear-gradient(70deg, #B0E0E6 50%, #39CCCC 50%);
		margin: 2%;
		img{
			width: 40%;
		}
		.half-section{
			flex-direction: column;
			margin: 2%;
			font-family: 'Open Sans Condensed', sans-serif;
			.intro{
				width: 30%;
			 
			}//closes intro
		}//closes half-section

		.link-up{
			width: 70%;
		}//closes link-up
	}//closes top-content

	.middle-content{
		display: flex;
		//border: 1px solid red;
		line-height: 4vh;
		font-size: 3rem;
		border: 14px inset #A09DB0;
		border-radius: 22px 22px 22px 22px;
		padding: 5rem;
		background: linear-gradient(110deg, #DDDDDD 50%, #AAAAAA 50%);

		.mid-h2{
			font-family: 'Merriweather', serif;
			width: 40%;
		}//closes mid-h2
		
		.midP{
			width: 40%;
		}//closes midP

		#mid-content-list{
			width: 65%;
			border: 1px solid red;

			.mid-list-h3{
				border: 1px solid red;
			}//close mid-list-h3

			.mid-list{
				background: red;
			}
		}//closes mid-content-list
	}//closes middle-content
}//closes main-content












